/* .bb {
  margin-left:-50px;
  padding-top:10px;
   height: 590px; 
   width:352px; 
   border-left-width:1px;
   border-top-width:1px;
   border-bottom-width:1px;
   border-right-width:1px ;
   border-color: gray;
    border-style: 'solid';
     position:'relative'

    }
    .vv {
      background-color: '#F2F2F2';
       margin-left: '0%'
       ;margin-top:'-3%';
        padding:10px; 
        width:350px;
         borderLeftWidth:1;
         borderTopWidth:1;
         borderBottomWidth:1;
         borderRightWidth:1 ;
         borderColor: '#DCDCDC';
    } */